<div class="container">
  <h1 class="text-center text-primary">{{title}}</h1>
  <app-add-wish-form (addWishEmiter)="addWish($event)" />
  <div class="row mt-3">
    <div class="col-sm-4">
      <select class="form-select" [(ngModel)]="listFilter">
        <option *ngFor="let item of filterOptions;index as index"
                id="listFilter{{index}}" value="{{item.id}}">{{item.description}}</option>
      </select>
    </div>
  </div>
  <div class="row mt-3">
    <app-wish-list [whishList]="visibleItems" />
  </div>
</div>
